requests
websocket
ccxt
numpy==1.24.3
pandas
pandas-ta
scikit-learn
xgboost
matplotlib
seaborn
plotly==5.3.1
backtrader
websocket-client
pyarrow
statsmodels       
tensorflow
streamlit
keras
fbprophet
pystan==2.19.1.1
prophet
